PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/skribbl_clone
FRONTEND_URL=http://localhost:5173

postgresql://skribbl_db_nudo_user:shDzGq41oGitxmVzLsK4CWdZeYLUlamg@dpg-d8tatnsm0tmc73c5efpg-a/skribbl_db_nudo